/* write your override styles here */
#wall .tag-1{
  display:none;
}

#wall .tag-1+#tag-2{
  display:none;
}

#wall #tag-3.slick.wicked{
  display:none;
}

#wall .parent>#tag-4{
  display:none;
}

#wall .parent #tag-5.slick:first-child{
  display:none;
}

#wall .parent :last-child #tag-6:only-of-type {
  display:none;
}

body #wall:last-child.parent > #tag-7.slick{
  display:none;
}



